main{
  background-color: #FFF;
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
    margin-top: 48px;
    border-radius: var(--lg, 12px);
    background-color: #FFF;
    .container{
      max-width: 880px;
    }
  
    .section-title {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 16px;
    }
  }
}

#section-1 {
  background-image: url(../../image/background.png), url(../../image/background.png);
  background-size: 219px;
  background-position: top 118px left -29px, top 91px right 0px;
  background-repeat: no-repeat;

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      text-align: center;
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 16px;
    }

    p {
      border-radius: 20px;
      width: fit-content;
      padding: 4px 12px;
      background: #F3F3F3;
      color: #8C8C8C;
      
      border: 1px solid #F4F4F4;
      margin-bottom: 0;
    }
  }

  button {
    border: 14px solid #EBF2FF;
    background-image: url(../../image/bg-tech-animation.png), url(../../image/bg-tech-animation.png),radial-gradient(57.98% 56.91% at 50% 50%, #5382F9 0%, #1855F1 100%);
    background-size: 112px,112px,contain;
    background-position: top 0px left 0, top 0px right -19px, top 0 right 0;
    background-repeat: no-repeat;

    box-shadow: 0px 8px 24px 0px rgba(255, 255, 255, 0.25) inset;
    border-radius: 133px;

    width: 292px;
    height: 72px;
    font-size: 28px;
    font-weight: 700;
    color: #FFF;
    box-sizing: content-box;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    &.active{
      background-color: #D7E2FF;
      background-image: url(../../image/bg-tech-animation-1.png), url(../../image/bg-tech-animation-1.png);

      color: #2861F4;
      
    }
  }

  .earned {
    display: flex;
    flex-direction: column;
    align-items: center;

    h5 {
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 0;
    }

    p {
      margin-top: 8px ;
      color: #A3A3A3;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 0;
    }
  }
}
@media (max-width: 991px) {
  #section-1 {
    background-image: unset;
  
    .title {
      h1 {
        font-size: 42px;
        line-height: 52px;
        
      }
    }

  }

}

#section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin-top: 80px;

  .refer-friend {
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: var(--inset-xl, 20px);
    border-radius: var(--lg, 12px);
    background: linear-gradient(90deg, #EDEFFE 0%, #EDEFFE 47.45%, #FFEEE4 123.26%);

    img {
      width: 52px;
    }

    .title {
      font-weight: 600;
    }

    .content {
      font-size: 14px;
      color: #656565;

    }

  }
}


#section-3{
  .package{
    display: flex;

    .package-item{
      background: #F8F8FF;
      border-radius: var(--md, 8px);
      border: 1px solid #EEF3FF;
      padding: 12px 16px;
      width: 193px;
      display: flex;
      gap: 23px;
      
      img{
        width: 26px;
        height: 26px;
      }
      >div{
        .value{
          font-size: 20px;
          font-weight: 600;
          line-height: normal;
          
        }
        .name{
          margin-top: 6px;
          font-size: 16px;
          line-height: normal;
        }
      }
    }
  }
  .price {
    margin-top: 48px;
    display: flex;

    .price-item {
      width: calc(100% / 4);
      padding: 16px;
      display: flex;
      flex-direction: column;
      gap: var(--inset-sm, 12px);
      border: 1px solid #E3E3E3;

      .title {
        font-size: 14px;
        color: #878B8E;
        display: flex;
        align-items: center;
        gap: 7px;
      }

      .value {
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;

      }
    }

    .price-item:not(:nth-last-child(1)) {
      border-right: unset;
    }
    .price-item:nth-last-of-type(1){
      border-radius: 0 8px 8px 0;
    }
    .price-item:first-of-type{
      border-radius: 8px 0 0 8px;
    }

  }
}
@media (max-width: 991px) {
  #section-3{

    .price {
      flex-wrap: wrap;
  
      .price-item {
        width: calc(100% / 2);
        padding: 12px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        border: 1px solid #E3E3E3;
        border-bottom: unset;
  
        .title {
          font-size: 12px;
          gap: 10px;
        }
  
        .value {
          font-size: 16px;
          line-height: 24px;
  
        }
      }
  
      .price-item:not(:nth-last-child(2n)) {
        border-right: unset;
      }
      .price-item:not(:nth-last-child(2n+1)) {
        border-left: unset;
      }
      .price-item:nth-last-of-type(1){
        border-radius: unset
      }
      .price-item:first-of-type{
        border-radius: unset
      }
  
    }
  }
}

#section-4 {
  background-image: url(../../image/background.png),url(../../image/background.png);
  background-size: 219px;
  background-position: bottom 131px left 0px, top 50px right -97px;
  background-repeat: no-repeat;

}

@media (max-width: 991px) {
  #section-4 {
    background-color: #FFF;
    background-image: unset;

    .left {
      width: 100%;

      h3 {
        font-size: 36px;
        line-height: 44px;
        letter-spacing: -0.792px;
        margin-bottom: 16px;

        span {
          color: #387FF5;
        }
      }
    }

    .right {
      width: 680px;
    }
  }
}