main {
  .page-title {
    margin-top: 25px;
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
  }
  
  @media (max-width: 991px) {
    .page-title {
      display: none;
      margin-top: 12px;
      font-size: 24px;
      font-weight: 700;
    }

  }

  #section-1{
    margin-top: 25px;
    .title{
      color: var(--studio-darkmode-export-bg-1-a-202-e, #1A202E);
      font-size: 50px;
      font-weight: 700;
      line-height: 62px;
      letter-spacing: -1.1px;
      
    }
    .image{
      margin-top: 24px;
      margin-bottom: 32px;
      width: 100%;
      height: 486px;
      object-fit: cover;
      object-position: center;
    }
  }
  @media (max-width: 991px) {
    #section-1{
      margin-top: 12px;
      .title{
        font-size: 42px;
        line-height: 52px;
        letter-spacing: -0.924px;
      }
      .image{
        height: 250px;
      }
    }
  }

  #section-2{
    margin-top: 65px;
    h3{
      font-size: 36px;
      font-weight: 700;
      font-style: normal;
      color: #OOO;
      
    }
    .blog-list{
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;
      gap: 24px;

      .blog-item{
        text-decoration: none;
        width: calc((100% - 3 * 24px) / 4);
        border-radius: 10px;
        background: #FFF;
        border: 0.7px solid var(--studio-lightmode-midseparator-dee-3-eb, #DEE3EB);
        
        img{
          border-radius: 10px 10px 0 0;
          width: 100%;
          height: 240px;
          object-fit: cover;
          object-position: center;
        }
        .info{
          margin-top: 4px;
          padding: 16px;
          .tag{
            display: flex;
            gap: 9px;
            align-items: center;
            .text{
              color: var(--Primary-200, #1B6DDF);
              font-size: 14px;
              line-height: 20px;
              letter-spacing: -0.084px;
              font-weight: 500;
            }
            .badge{
              padding: 3px 6px;
              
              
            }
          }
          .title{
            color: var(--studio-darkmode-export-bg-1-a-202-e, #1A202E);
            
            margin-top: 7px;
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: -0.198px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
          }
          .short-content{
            margin-bottom: 0;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            color:#1A202E;
            letter-spacing: -0.176px;
            
          }
        }
      }
    }
  }
  @media (max-width: 991px) {
    #section-2{
      margin-top: 48px;

      .blog-list{
        gap: 26px;
  
        .blog-item{
          width: 100%;
        }
      }
    }
  }

  #section-3 {
    margin-top: 77px;
    background-image: url('../../image/Startminging.png');
    background-size: cover;
    background-position: center;
    padding: 60px 0;
  
    >div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
  
      h5 {
        text-align: center;
        font-weight: 700;
        font-size: 42px;
        line-height: 52px;
        color: #FFFFFF;
        letter-spacing: -0.924px;
  
      }
  
      p {
        width: 700px;
        text-align: center;
        color: var(--Content-ContentInversePrimary, #FFF);
        letter-spacing: -0.176px;
  
        span {
          font-weight: 700;
  
        }
  
      }
  
      button {
        background: linear-gradient(93deg, rgba(255, 255, 255, 0.13) 6.01%, rgba(255, 255, 255, 0.25) 90.83%);
        border-radius: var(--lg, 12px);
        padding: var(--stack-lg, 16px) var(--stack-3xl, 32px);
        color: var(--DarkOverlayElement-100, #FFF);
        font-weight: 700;
        border: unset;
        display: flex;
        gap: 8px;
      }
    }
  }
  
  @media (max-width: 991px) {
    #section-3 {
      background-image: url('../../image/Startminging.png');
      background-size: cover;
      background-position: center;
      padding: 60px 0;
  
      >div {
        h5 {
          font-size: 36px;
          line-height: 44px;
          letter-spacing: -0.792px;
        }
  
        p {
          width: 100%;
        }
      }
    }
  }
}
@media (max-width: 991px) {
  main{
    background-color: #FFF;
  }
}
footer{
  background-color: #F9F9F9 !important;
}