main {
  padding-top: 32px;
}

main .page-title {
  font-size: 36px;
  font-weight: 700;
}

@media (max-width: 991px) {
  main {
    padding-top: 24px;
  }

  main .page-title {
    font-size: 28px;
    font-weight: 600;
  }
}

main #section-1 {
  margin-top: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: var(--lg, 12px);
}

main #section-1 .chart {
  display: flex;
  gap: 395px;
}

main #section-1 a {
  /* border: 2px solid var(--NeutralAlpha-NA50, rgba(255, 255, 255, 0.50));
  */
  border: unset;
  width: 183px;
  padding: 12px 48px;
  background: linear-gradient(180deg, #517ff4 0%, #1855f1 100%);
  border-radius: var(--md, 8px);
  color: var(--DarkOverlayElement-100, #fff);
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.176px;
  text-decoration: none;
}

@media (max-width: 991px) {
  main #section-1 {
    margin-top: 24px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 52px;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: var(--lg, 12px);
  }

  main #section-1 .chart {
    display: flex;
    flex-direction: column;
    gap: 52px;
  }
}

main #section-2 {
  margin: 40px 0;
}

main #section-2 .section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main #section-2 .section-title h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0;
}

main #section-2 .section-title a {
  font-size: 14px;
  font-weight: 500;
  color: var(--Neutre-700, #4f575e);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 4px;
}

main #section-2 .recent-table {
  margin-top: 16px;
  background: #fff;
  padding: 24px;
  border-radius: var(--lg, 12px);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.10);
}

main #section-2 .recent-table .table-wrapper {
  overflow-x: auto;
}

@media (max-width: 991px) {
  main #section-2 .section-title h2 {
    font-size: 28px;
  }

  main #section-2 .recent-table {
    padding: unset;
    background-color: #fcfcfc;
    box-shadow: unset;
    border-radius: unset;
  }
}

@media (max-width: 991px) {
  main {
    background-color: #fff;
  }
}