body {
  background-color: #F9F9F9;
  /* height: 100dvh; */
  display: flex;
  flex-direction: column;
}

.navbar {
  --bs-navbar-padding-y: 0;
  --bs-navbar-padding-x: 40px;
  --bs-navbar-color: #4B5162;
  --bs-navbar-active-color: var(--bs-primary);
  background-color: #FFF;

  .navbar-wrapper {
    padding: 20px 0;
    border-bottom: 1px solid #D2D5E2;
    display: flex;
    justify-content: space-between;

    .navbar-menu {
      .get-started-btn {
        display: none;
      }
    }

    .navbar-toggler {
      padding: 8px;
      border: unset;
    }

    .navbar-collapse {
      .action {
        display: none;

        >button {
          font-size: 14px;
          font-weight: 700;
          padding: var(--inset-md, 12px) var(--inset-lg, 16px);

        }

        .dropdown {
          font-weight: 500;
          font-size: 16px;

          .dropdown-menu {
            right: 0;
            left: unset;
          }
        }
      }
    }
  }

  .nav-link {
    --bs-nav-link-font-size: 16px;
    --bs-nav-link-font-weight: 500;
  }
}

@media (max-width: 991px) {
  .navbar {
    --bs-navbar-padding-y: 0;
    --bs-navbar-padding-x: 16px;

    .navbar-wrapper {
      padding: 10px 0;
      flex-wrap: wrap;

      .navbar-menu {
        width: 100%;

        .get-started-btn {
          margin-right: 8px;
          display: inline-block;
          padding: 12px 16px;
        }
        .navbar-toggler{
          box-shadow: unset;
        }
      }


      .offcanvas {
        width: 100%;
        .nav-item{
          .nav-link {
            padding: var(--inset-xl, 20px) var(--inset-none, 0px);
            border-top: 1px solid #ECEEF4;
            display: flex;
            justify-content: space-between;
            align-items: center;
  
            &::after {
              margin: 0 12px;
            }
          }
          .dropdown-menu{
            --bs-dropdown-padding-y:0;
            border:unset
          }
        }
  
        .action {
          display: none !important;
        }
      }
    }
  }
}

main {
  flex-grow: 1;
}

.p24-badge {
  width: fit-content;
  padding: var(--inset-sm, 8px) var(--stack-md, 12px);
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-old-2-xl, 20px);
  border: 1px solid var(--Neutre-200, #ECEDEE);

  box-shadow: 0px 0px 1px 0px var(--NeutralAlphaInvert-NI05, rgba(44, 58, 114, 0.05));
  gap: var(--inset-sm, 8px);
}

.footer {
  padding: 80px 0 40px 0;
  background: var(--Neutral-N0, #FFF);

  .footer-wrapper {
    .section-1 {
      border-bottom: 1px solid #ECEEF4;
      position: relative;

      img {
        position: absolute;
        top: -14px;
        padding-right: 20px;
        background-color: #FFF;
      }
    }

    .section-2 {
      margin-top: 60px;
      display: flex;
      gap:20px;
      .item{
        width: calc((100% - 3 * 20px) / 4);

        .title{
          font-weight: 700;
          color: var(--Neutral-N900, #343844);
          line-height: 120%;
        }
        ul{
          list-style: none;
          margin-top: 16px;
          padding-left: 0;
          li{
            margin-bottom: 8px;
            a{
              color: #4B5162;
              text-decoration: none;
              font-weight: 500;
            }
          }
        }
      }
    }

    .section-3 {
      margin-top: 112px;
      padding-top: 24px;
      border-top: 1px solid #D2D5E2;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--Neutral-N700, #626981);
      font-size: 14px;
      font-weight: 400;

      ul {
        padding-left: 0;
        flex-shrink: 0;
        display: flex;
        gap: 24px;
        list-style: none;
        margin-bottom: 0;

        li {
          a {
            font-weight: 500;
            color: var(--Neutral-N800, #4B5162);
            text-decoration: none;
          }
        }
      }

    }
  }
}
@media (max-width: 991px) {
  .footer {
    padding: 60px 0 40px 0;
  
    .footer-wrapper {
      .section-2 {
        gap:32px;
        flex-wrap: wrap;
        .item{
          width: calc((100% - 32px) / 2);
  
          .title{
            font-weight: 700;
            color: var(--Neutral-N900, #343844);
            line-height: 120%;
          }
          ul{
            list-style: none;
            margin-top: 16px;
            padding-left: 0;
            li{
              margin-bottom: 8px;
              a{
                color: #4B5162;
                text-decoration: none;
                font-weight: 500;
              }
            }
          }
        }
      }
  
      .section-3 {
        margin-top: 60px;
        padding-top: 24px;
        border-top: 1px solid #D2D5E2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--Neutral-N700, #626981);
        font-size: 14px;
        font-weight: 400;
  
        ul {
          padding-left: 0;
          flex-shrink: 0;
          display: flex;
          gap: 24px;
          list-style: none;
          margin-bottom: 0;
  
          li {
            a {
              font-weight: 500;
              color: var(--Neutral-N800, #4B5162);
              text-decoration: none;
            }
          }
        }
  
      }
    }
  }
}