video {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  object-fit: cover;
}

.login-section {
  width: 100%;
  padding: 48px 16px;
  border-radius: 20px;
  background: var(--background-mode, #fff);
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.login-section .logo {
  cursor: pointer;
}

.login-section h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
}

.login-section input[id='password'] {
  padding: 16px 45px 16px 16px;
}

.login-section input[id='password']+svg {
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 12px;
}

.login-section .social-btn {
  flex-wrap: wrap;
}

.login-section .social-btn>div {
  color: var(--foreground-low, #98a2b3);
}

.login-section .social-btn button {
  width: calc(50% - 8px);
}

@media (min-width: 768px) {
  .login-section {
    padding: 48px 72px;
    width: 540px;
  }
}

.already-have-an-account {
  display: flex;
  justify-content: center;
  gap: 8px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
  color: var(--foreground-low, #98a2b3);
}

.already-have-an-account a {
  text-decoration: none;
  color: var(--foreground-primary, #1570ef);
}