main {
  background-color: #fff;
}

main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
  margin-top: 48px;
  border-radius: var(--lg, 12px);
  background-color: #fff;
}

main section .container {
  max-width: 880px;
}

main section .section-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

#section-1 {
  background-image: url(../../image/background.png), url(../../image/background.png);
  background-size: 219px;
  background-position: top 118px left -29px, top 91px right 0px;
  background-repeat: no-repeat;
}

#section-1 .title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section-1 .title h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 16px;
}

#section-1 .title p {
  border-radius: 20px;
  width: fit-content;
  padding: 4px 12px;
  background: #f3f3f3;
  color: #8c8c8c;
  border: 1px solid #f4f4f4;
  margin-bottom: 0;
}

#section-1 button {
  border: 14px solid #ebf2ff;
  background-image: url(../../image/bg-tech-animation.png), url(../../image/bg-tech-animation.png), radial-gradient(57.98% 56.91% at 50% 50%, #5382f9 0%, #1855f1 100%);
  background-size: 112px, 112px, contain;
  background-position: top 0px left 0, top 0px right -19px, top 0 right 0;
  background-repeat: no-repeat;
  box-shadow: 0px 8px 24px 0px rgba(255, 255, 255, 0.25) inset;
  border-radius: 133px;
  width: 292px;
  height: 72px;
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

#section-1 button.active {
  background-color: #d7e2ff;
  background-image: url(../../image/bg-tech-animation-1.png), url(../../image/bg-tech-animation-1.png);
  color: #2861f4;
}

#section-1 .earned {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section-1 .earned h5 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 0;
}

#section-1 .earned p {
  margin-top: 8px;
  color: #a3a3a3;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  #section-1 {
    background-image: unset;
  }

  #section-1 .title h1 {
    font-size: 42px;
    line-height: 52px;
  }
}

#section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin-top: 80px;
}

#section-2 .refer-friend {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: var(--inset-xl, 20px);
  border-radius: var(--lg, 12px);
  background: linear-gradient(90deg, #edeffe 0%, #edeffe 47.45%, #ffeee4 123.26%);
}

#section-2 .refer-friend img {
  width: 52px;
}

#section-2 .refer-friend .title {
  font-weight: 600;
}

#section-2 .refer-friend .content {
  font-size: 14px;
  color: #656565;
}

#section-3 .package {
  display: flex;
}

#section-3 .package .package-item {
  background: #f8f8ff;
  border-radius: var(--md, 8px);
  border: 1px solid #eef3ff;
  padding: 12px 16px;
  width: 193px;
  display: flex;
  gap: 23px;
}

#section-3 .package .package-item img {
  width: 26px;
  height: 26px;
}

#section-3 .package .package-item>div .value {
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}

#section-3 .package .package-item>div .name {
  margin-top: 6px;
  font-size: 16px;
  line-height: normal;
}

#section-3 .price {
  margin-top: 48px;
  display: flex;
}

#section-3 .price .price-item {
  width: calc(100% / 4);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: var(--inset-sm, 12px);
  border: 1px solid #e3e3e3;
}

#section-3 .price .price-item .title {
  font-size: 14px;
  color: #878b8e;
  display: flex;
  align-items: center;
  gap: 7px;
}

#section-3 .price .price-item .value {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

#section-3 .price .price-item:not(:nth-last-child(1)) {
  border-right: unset;
}

#section-3 .price .price-item:nth-last-of-type(1) {
  border-radius: 0 8px 8px 0;
}

#section-3 .price .price-item:first-of-type {
  border-radius: 8px 0 0 8px;
}

@media (max-width: 991px) {
  #section-3 .price {
    flex-wrap: wrap;
  }

  #section-3 .price .price-item {
    width: calc(100% / 2);
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid #e3e3e3;
    border-bottom: unset;
  }

  #section-3 .price .price-item .title {
    font-size: 12px;
    gap: 10px;
  }

  #section-3 .price .price-item .value {
    font-size: 16px;
    line-height: 24px;
  }

  #section-3 .price .price-item:not(:nth-last-child(2n)) {
    border-right: unset;
  }

  #section-3 .price .price-item:not(:nth-last-child(2n+1)) {
    border-left: unset;
  }

  #section-3 .price .price-item:nth-last-of-type(1) {
    border-radius: unset;
  }

  #section-3 .price .price-item:first-of-type {
    border-radius: unset;
  }
}

#section-4 {
  background-image: url(../../image/background.png), url(../../image/background.png);
  background-size: 219px;
  background-position: bottom 131px left 0px, top 50px right -97px;
  background-repeat: no-repeat;
}

@media (max-width: 991px) {
  #section-4 {
    background-color: #fff;
    background-image: unset;
  }

  #section-4 .left {
    width: 100%;
  }

  #section-4 .left h3 {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.792px;
    margin-bottom: 16px;
  }

  #section-4 .left h3 span {
    color: #387ff5;
  }

  #section-4 .right {
    width: 680px;
  }
}