main {
  margin-top: 24px;

  .page-title {
    font-size: 36px;
    font-weight: 700;
  }
  
  @media (max-width: 991px) {
    margin-top: 24px;
  
    .page-title {
      font-size: 28px;
      font-weight: 600;
    }

  }

  #section-1 {
    .section-title {
      h2 {
        font-size: 24px;
        font-weight: 700;

      }

      a {
        font-size: 14px;
        font-weight: 500;
        color: var(--Neutre-700, #4F575E);
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }

    .transaction-table {
      margin-top: 16px;
      background: #FFF;
      padding: 24px;
      border-radius: var(--lg, 12px);
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.10);
      
      .table-wrapper {
        overflow-x: auto;
      }
    }

    .pagination{
      margin-top: 45px;
    }
  }
}