main {
  padding-top: 24px;
}

main .page-title {
  font-size: 36px;
  font-weight: 700;
}

@media (max-width: 991px) {
  main {
    padding-top: 24px;
    background-color: #fff;
  }

  main .page-title {
    font-size: 28px;
    font-weight: 600;
  }
}

main #section-1 .section-title {
  align-items: center;
}

main #section-1 .section-title h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0;
}

main #section-1 .section-title button {
  border: unset;
  background-color: unset;
  display: none;
}

main #section-1 .filter {
  flex-wrap: wrap;
  gap: 16px;
}

main #section-1 .filter .button-block {
  display: flex;
  gap: 16px;
}

main #section-1 .transaction-table {
  margin-top: 16px;
  background: #fff;
  padding: 24px;
  border-radius: var(--lg, 12px);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.10);
}

main #section-1 .transaction-table .table-wrapper {
  overflow-x: auto;
}

main #section-1 .pagination {
  margin-top: 45px;
}

@media (max-width: 991px) {
  main #section-1 .section-title h2 {
    font-size: 28px;
    font-weight: 600;
  }

  main #section-1 .section-title button {
    display: block;
  }

  main #section-1 .filter {
    margin-top: 16px !important;
  }

  main #section-1 .filter .filter-block {
    flex: 1;
  }

  main #section-1 .filter .filter-block .txID {
    width: 100%;
  }

  main #section-1 .filter .filter-block .type,
  main #section-1 .filter .filter-block .time,
  main #section-1 .filter .filter-block .coin,
  main #section-1 .filter .filter-block .status {
    display: none;
  }

  main #section-1 .filter .button-block {
    width: 100%;
  }

  main #section-1 .filter .button-block .btn {
    width: calc(50% - 8px);
    border-radius: 8px;
  }

  main #section-1 .transaction-table {
    margin-top: 16px;
    background: #fcfcfc;
    padding: 0;
    border-radius: unset;
    box-shadow: unset;
  }

  main #section-1 .transaction-table .table-wrapper {
    overflow-x: auto;
  }

  main #section-1 .pagination {
    margin-top: 45px;
  }
}

#offcanvasBottom {
  height: fit-content;
  border-radius: 8px 8px 0 0;
}

#offcanvasBottom .offcanvas-body .filter-block {
  display: flex;
  flex-direction: column;
}

#offcanvasBottom .offcanvas-body .filter-block .select2-container {
  width: 100% !important;
}

#offcanvasBottom .offcanvas-body .button-block {
  margin-top: 16px;
  width: 100%;
  display: flex;
  gap: 16px;
}

#offcanvasBottom .offcanvas-body .button-block .btn {
  width: calc(50% - 8px);
  border-radius: 8px;
}