:root {
  --foreground-primary: #1570EF;
  --bs-primary: #1570EF;
}

body {
  font-family: "Inter", sans-serif;
}

.fw-medium {
  font-weight: 500;
}

.form-label {
  color: var(--foreground-default, #344054);
  font-size: 16px;
  margin-bottom: 12px;
}

.form-control {
  padding: 12px 16px;
  border-radius: var(--md, 8px);
  border: 1px solid var(--outline-default, #D0D5DD);
  color: var(--foreground-default, #344054);
  font-size: 14px;
  line-height: 14px;
  height: 48px;

  &:focus {
    box-shadow: 0 0 0 2px rgba(13, 110, 253, .25);
  }

  &::placeholder {
    font-size: 14px;
    color: var(--foreground-low, #98A2B3);

  }
}

.btn {
  --bs-btn-padding-x: 16px;
  --bs-btn-padding-y: 12px;
  --bs-btn-border-radius: 8px;
  --bs-btn-font-size: 14px;
  --bs-btn-font-weight: 700;
  --bs-btn-line-height: 126%;
}

.btn-sm {
  --bs-btn-padding-y: 8px;
}

.btn-lg {
  --bs-btn-border-radius: 12px;
  --bs-btn-padding-y: 12px;
  --bs-btn-padding-x: 20px;
  --bs-btn-font-size: 16px;
  --bs-btn-line-height: 122%;
}

.btn-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b5ed7;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--bs-primary);
  --bs-btn-disabled-border-color: var(--bs-primary);
}

.btn-outline-primary {
  --bs-btn-color: #3861FB;
  --bs-btn-border-color: #B6D1FB;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3861FB;
  --bs-btn-hover-border-color: #3861FB;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3861FB;
  --bs-btn-active-border-color: #3861FB;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #3861FB;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #3861FB;
  --bs-gradient: none;
}

.btn-light {
  --bs-btn-bg: #F7F9FD;
  --bs-btn-hover-bg: #E8F1FC;
  --bs-btn-hover-border-color: #E8F1FC;
}

.accordion {
  --bs-accordion-active-bg: transparent;
  --bs-accordion-border-color: transparent;
  --bs-accordion-btn-color: #1C1F25;
  --bs-accordion-active-color: #1C1F25;
  --bs-accordion-body-padding-x: 0px;
  --bs-accordion-body-padding-y: 0px;
  --bs-accordion-border-radius: 0px;
  --bs-accordion-btn-padding-x: 16px;
  --bs-accordion-btn-icon-width: 16px;

  .accordion-item {
    .accordion-button {
      font-size: 20px;
      font-weight: 700;
      border-bottom: 1.003px solid var(--Neutral-N200, #ECEEF4);

      &::before {
        margin-right: 16px;
        margin-left: -16px;
        content: "";
        width: 4px;
        height: 16px;
        border-radius: 2px;
        background-color: #387FF5;
      }

      &::after {}

      &:focus {
        box-shadow: unset;
      }

      &:not(.collapsed) {
        border: unset;
      }
    }

    .accordion-collapse {
      &:is(.show) {
        border-bottom: 1.003px solid var(--Neutral-N400, #B6BCCD);
      }
    }
  }

  .accordion-body {
    font-size: 16px;
    color: var(--Neutral-N800, #4B5162);
    padding: var(--inset-none, 0px) var(--inline-xl, 20px) var(--stack-xl, 20px) var(--inset-none, 0px);

  }
}

/* Table */
.table {
  --bs-table-striped-bg: rgba(244, 244, 244, 0.50);

  :not(caption)>*>* {
    border: unset;
  }

  th {
    color: var(--Neutral-04, #6F767E);
    font-size: 12px;
    font-weight: 500;
    padding: 16px 24px;
  }

  td {
    padding: 8px 24px;
    font-size: 14px;
    font-weight: 600;
  }
}

/* Badge */
.badge {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  border-radius: 6px;
  padding: 2px var(--inset-sm, 8px);

  &.text-bg-success {
    background-color: var(--Secondary-04, #B5E4CA) !important;
    color: var(--Neutral-07, #1A1D1F) !important;
  }

  &.text-bg-primary {
    background-color: var(--Secondary-03, #B1E5FC) !important;
    color: var(--Neutral-07, #1A1D1F) !important;
  }

  &.text-bg-primary-1 {
    background-color: var(--Secondary-02, #CABDFF) !important;
    color: var(--Neutral-07, #1A1D1F) !important;
  }
  &.text-bg-light{
    color: #495367 !important;
    background-color: #EBEEF2 !important;
  }

}

/* Paginate */

.pagination {
  --bs-pagination-disabled-color: #C4CDD5;
  --bs-pagination-disabled-bg: #ECEDEE;
  --bs-pagination-disabled-border-color: #ECEDEE;
  --bs-pagination-active-color: #1B6DDF;
  --bs-pagination-active-bg: #FFFFFF;
  --bs-pagination-active-border-color: #1B6DDF;
  --bs-pagination-border-color: #DFE3E8;
  --bs-pagination-border-radius: 4px;
  gap: var(--inset-sm, 8px);

  .page-item {
    border-radius: var(--bs-pagination-border-radius);

    .page-link {
      padding: unset;
      height: 32px;
      width: 32px;
      display: flex;
      justify-content: center;
      align-items: center;

      --bs-pagination-font-size: 14px;
      --bs-pagination-color: #212B36;
      border-radius: var(--bs-pagination-border-radius);
      font-weight: 700;
    }
  }
}

/* InputGroup */
.input-group {
  flex-wrap: nowrap;

  &:focus-within {
    box-shadow: 0 0 0 2px rgba(13, 110, 253, .25);
    border-radius: 8px;
    transition-duration: 200ms;
  }

  .input-group-text {
    border-color: #E7E6EC;
    background-color: #FFF;
    color: #A7AEB4;
    border-radius: 8px;
    font-size: 14px;

  }

  .form-control,
  .form-select {
    border-color: #E7E6EC;
    padding-left: 0;
    border-left: unset;
    font-size: 14px;
    font-weight: 500;

    &:focus {
      box-shadow: unset;
    }
  }

}

/* Modal */
.modal-backdrop {
  --bs-backdrop-bg: #FFF;
  --bs-backdrop-opacity: 0.5;
  backdrop-filter: blur(2px);
}

.modal {
  --bs-modal-width: 652px;
  --bs-modal-border-color: transparent;
  --bs-modal-inner-border-radius: 12px;

  .modal-dialog {
    
    .modal-content {
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
      .modal-header {
        padding: 32px 32px 23px 32px;
        position: relative;
        justify-content: center;
        border-bottom: unset;

        .btn-close {
          position: absolute;
          top: 32px;
          right: 32px;
        }
      }

      .modal-body {
        padding: 0 32px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .modal-title {
          text-align: center;
          font-weight: 700;
          font-size: 24px;
          line-height: 122%;
        }

        .modal-text {
          color: var(--Neutre-600, #6B767F);
          text-align: center;
          font-size: 20px;
          font-weight: 400;
          line-height: 30px;
          margin-bottom: 0;
        }
      }

      .modal-footer {
        padding: 23px 32px 32px 32px;
        border-top: unset;
        justify-content: center;

        .btn {
          min-width: 171px;
          border-radius: 4px;
        }
      }
    }
  }
}

/* Modal */

.select2-container--bootstrap-5{
  flex-shrink: 0;
  .select2-selection{
    height: 48px;
    border-radius: var(--md, 8px);
    border: 1px solid var(--Color-Theming-Light-Line-Line-Primary, #E7E6EC);
    
  }
  .select2-selection--single{
    .select2-selection__rendered{
      line-height: 2;
      
      .prefix{
        font-size: 14px;
         color: var(--Neutre-500, #8E979F);
         
         margin-right: 4px;
      }
      .text{
        font-size: 16px;
        font-weight: 500;
        
      }
    }

  }
  &.select2-container--focus , 
  &.select2-container--open {
    .select2-selection{
      box-shadow: 0 0 0 2px rgba(13, 110, 253, .25);
      transition-duration: 200ms;
    }
  }
}
.select2-container--bootstrap-5.select2-container--open.select2-container--below .select2-selection{
  border-radius: 12px;
}
.select2-dropdown{
  transform: translateY(7px) !important;
  border-radius: 12px !important;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
  border: unset;
  
  .select2-search{
    padding: 8px 16px 0!important;
    margin-bottom: 8px;
    .select2-search__field{
      border-radius: var(--md, 8px) !important;
      border: 1px solid var(--Color-Theming-Light-Line-Line-Primary, #E7E6EC) !important;
      &:focus{
        box-shadow: unset !important;
      }
    }

  }

  .select2-results{
    .select2-results__options{
      font-size: 14px !important;
      
      .select2-results__option--selected{
        background-color: unset !important;
        color: #000 !important;
        font-weight: 700;
        
      }
    }
  }
} 